@{
    ViewData["Title"] = "Home Page";
    var liveStreamData = ViewData["LiveStreamData"];

    dynamic jsonData = null;
    if (liveStreamData != null)
    {
        jsonData = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(liveStreamData.ToString());
    }
    var isFirstMatch = true;

    var linkHref = "";
    if (jsonData.result.matchesHot.Count > 0)
    {
        if (isFirstMatch)
        {
            foreach (dynamic match in jsonData.result.matchesHot)
            {
                linkHref = @match.match.pushurl1 + ".flv";
                if (@match.match.pushurl1 == null || @match.match.pushurl1 == "")
                {
                    linkHref = @match.match.pushurl4;
                }
                isFirstMatch = false;
            }
        }
    }
    isFirstMatch = true;
    }
<div class="flex flex-col gap-6">
    <h1 class="hidden">Livebongda8</h1>
    @if (jsonData.result.matchesHot.Count > 0)
    {
        if (isFirstMatch)
        {
            @foreach (dynamic match in jsonData.result.matchesHot)
            {
                <div class="bg-black text-white">
                    <div class="max-w-[95vw] mx-auto md:container lg:container xl:container 2xl:container">
                        <div class="mt-[12px]">
                            <h2 class="text-[14px] lg:text-[24px] xl:text-[24px] 2xl:text-[24px]" id="match-title"></h2>
                            <div class="my-6 flex w-[100%] gap-6 flex-col lg:flex-row xl:flex-row 2xl:flex-row">
                                <div class="mx-auto w-[100%] max-w-[1240px]">
                                    <div class="">
                                        <div id="video-player" style="width: 100%; height: 550px;">
                                        </div>
                                        
                                        <div class="bg-white p-2 rounded-b-[10px] flex flex-col gap-2">
                                            <div class="flex gap-4 items-center">
                                                <img title="@match.commentator.name" src="@match.commentator.photo" alt="@match.commentator.name" class="rounded-[50%] w-[35px] h-[35px] object-cover" width="50" height="50" loading="lazy"><div class="flex gap-2 items-center">
                                                    <span class="lg:text-[14px] xl:text-[14px] 2xl:text-[14px] text-[--match-2d] font-semibold text-[12px]">@match.commentator.name</span><span data-feather="mic" class="icon-microphone mic-flash text-[--match-live]"></span>
                                                </div>
                                            </div>
                                            <div class="flex flex-col gap-3">
                                                <div class="flex justify-between gap-2 pt-[12px] ">
                                                    <div class="flex gap-2">
                                                        <button class="flex items-center gap-1 rounded-[--border-radius] px-[10px] py-[5px] shadow-md hover:bg-[--red] bg-[--violet] text-white">
                                                            <div class=" flex items-center justify-center rounded-[50%] bg-[white] text-[--violet] p-[3px]">
                                                                <span style="font-size: 10px" data-feather="play" class="icon-alo-icon-play text-center"></span>
                                                            </div><span class="text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[14px]">Link 1</span>
                                                        </button>
                                                    </div>
                                                    <button class="flex items-center gap-1 text-black"><span data-feather="copy" class="icon-btn-copy text-[14px] md:text-[16px] lg:text-[16px] xl:text-[16px] 2xl:text-[16px] "></span><span class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Sao chép</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                 
                                    <div class="hidden relative text-white">
                                        <div class="lazyload-wrapper ">
                                            <img title="Hình ảnh trận đấu sắp diễn ra" src="@match.match.competition.logo" alt="Hình ảnh Hình ảnh trận đấu sắp diễn ra" class="w-[100%] h-auto object-cover" width="961" height="401" loading="lazy" effect="blur">
                                        </div>
                                        <div class="absolute left-0 top-0 h-[100%] w-[100%]">
                                            <div class="mx-auto flex h-[100%] flex-col items-center justify-center gap-4 p-6">
                                                <h2 class="truncate text-[18px] font-bold uppercase lg:text-[18px] xl:text-[24px] 2xl:text-[28px]">@match.match.competition.name_vi</h2><div class="flex">
                                                    <div class="flex items-center gap-2">
                                                        <div class="flex w-[120px] flex-col items-center justify-center gap-2 overflow-hidden lg:w-[200px] xl:w-[200px] 2xl:w-[200px]">
                                                            <div class="lazyload-wrapper"><img title="@match.match.home_team.name" src="@match.match.home_team.logo" alt="Hình ảnh @match.match.home_team.name" class="h-[40px] w-[40px] object-contain lg:h-[70px] lg:w-[70px] xl:h-[70px] xl:w-[70px] 2xl:h-[70px] 2xl:w-[70px]" width="100" height="100" loading="lazy" effect="blur"></div>
                                                            <h4 title="@match.match.home_team.name" class="mx-auto w-fit max-w-[120px] items-center truncate text-center text-[14px] lg:max-w-[200px] lg:text-[16px] xl:max-w-[200px] xl:text-[20px] 2xl:max-w-[200px] 2xl:text-[24px]">@match.match.home_team.name</h4>
                                                        </div>
                                                        <div class="flex flex-col items-center">
                                                            <div class="text-center text-[12px] lg:text-[16px] xl:text-[18px] 2xl:text-[22px]">18:00 - 6/6/2024</div>
                                                            <div class="text-[24px] font-bold uppercase lg:text-[38px] xl:text-[48px] 2xl:text-[50px]">vs</div><div class="text-[12px] text-[--yellow] lg:text-[16px] xl:text-[18px] 2xl:text-[22px]">Hiệp 2</div>
                                                        </div>
                                                        <div class="flex w-[120px] flex-col items-center justify-center gap-2 overflow-hidden lg:w-[200px] xl:w-[200px] 2xl:w-[200px]">
                                                            <div class="lazyload-wrapper ">
                                                                <img title="@match.match.away_team.name" src="@match.match.away_team.logo" alt="Hình ảnh @match.match.away_team.name" class="h-[40px] w-[40px] object-contain lg:h-[70px] lg:w-[70px] xl:h-[70px] xl:w-[70px] 2xl:h-[70px] 2xl:w-[70px]" width="100" height="100" loading="lazy" effect="blur">
                                                            </div>
                                                            <h4 title="@match.match.away_team.name" class="mx-auto w-fit max-w-[120px] items-center truncate text-center text-[14px] lg:max-w-[200px] lg:text-[16px] xl:max-w-[200px] xl:text-[20px] 2xl:max-w-[200px] 2xl:text-[24px]">@match.match.away_team.name</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block w-[100%] max-w-[400px]">
                                    <div class="w-full flex justify-between gap-3 mb-[8px]">
                                        <div class="w-full text-center bg-red-600 text-white rounded cursor-pointer py-[2px] hover:bg-violet-600 hover:text-white">Trò chuyện</div><div class="w-full text-center bg-white text-black rounded cursor-pointer py-[2px] hover:bg-violet-600 hover:text-white">Trực tiếp</div>
                                    </div>
                                    <div class="comments_blocks z-[1] flex h-[95%] flex-col justify-between rounded-[5px] bg-white">
                                        <div class="flex flex-row items-center justify-between border-b-[1px] py-2 pl-3 text-xl font-medium">
                                            <div class="text-lg">Trò chuyện</div><div class="flex items-center gap-2 rounded-s-full bg-[--match-2d] p-2"><span class="text-[--white]">@match.match.viewcount</span><span data-feather="eye" class="icon-eye text-[--white]"></span></div>
                                        </div>
                                        <div id="chatContainer" class="flex flex-col justify-self-end overflow-y-auto p-3 h-[300px] sm:h-[300px] md:h-[300px] lg:h-[350px] xl:h-[380px] 2xl:h-[450px]">
                                            <div class="items-center justify-center rounded-lg bg-[#8B5EC50D] px-2 py-2">
                                                <span class="comment_content-message text-balance " style="color: rgb(158, 83, 252); font-size: 12px;">Chào mừng các bạn đến với kênh trực tiếp của Livebongda8 cam kết thiết lập một môi trường phát trực tuyến chuyên nghiệp và thân thiện. Mọi nội dung lạm dụng, thô tục hoặc bạo lực sẽ bị chặn.</span>
                                            </div>
                                        </div>
                                        <div class="comment_editor flex items-center gap-2 px-2 pb-6 pt-2">
                                            <a class="comment-login font-semibold" href="/dang-nhap" previewlistener="true">Vui lòng đăng nhập để có thể bình luận</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                isFirstMatch = false;
            }
        }
    }

    @if (jsonData.result.matchesHot.Count == 0)
    {
        @foreach (dynamic match in jsonData.result.matchesLive)
        {
            if (isFirstMatch)
            {
                <div class="bg-black text-white">
                    <div class="max-w-[95vw] mx-auto md:container lg:container xl:container 2xl:container">
                    <div class="mt-[12px]">
                            <h2 class="text-[14px] lg:text-[24px] xl:text-[24px] 2xl:text-[24px]" id="match-title"></h2>
                        <div class="my-6 flex w-[100%] gap-6 flex-col lg:flex-row xl:flex-row 2xl:flex-row">
                            <div class="mx-auto w-[100%] max-w-[1240px]">
                                <div class="">
                                        <div id="video-player" style="width: 100%; height: 550px;">
                                        </div>
                                    
                                    <div class="bg-white p-2 rounded-b-[10px] flex flex-col gap-2">
                                        <div class="flex gap-4 items-center">
                                            <img title="@match.commentator.name" src="@match.commentator.photo" alt="@match.commentator.name" class="rounded-[50%] w-[35px] h-[35px] object-cover" width="50" height="50" loading="lazy"><div class="flex gap-2 items-center">
                                                <span class="lg:text-[14px] xl:text-[14px] 2xl:text-[14px] text-[--match-2d] font-semibold text-[12px]">@match.commentator.name</span><span data-feather="mic" class="icon-microphone mic-flash text-[--match-live]"></span>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-3">
                                            <div class="flex justify-between gap-2 pt-[12px] ">
                                                <div class="flex gap-2">
                                                    <button class="flex items-center gap-1 rounded-[--border-radius] px-[10px] py-[5px] shadow-md hover:bg-[--red] bg-[--violet] text-white">
                                                        <div class=" flex items-center justify-center rounded-[50%] bg-[white] text-[--violet] p-[3px]">
                                                            <span style="font-size: 10px" data-feather="play" class="icon-alo-icon-play text-center"></span>
                                                        </div><span class="text-[12px] lg:text-[14px] xl:text-[14px] 2xl:text-[14px]">Link 1</span>
                                                    </button>
                                                </div>
                                                <button class="flex items-center gap-1 text-black"><span data-feather="copy" class="icon-btn-copy text-[14px] md:text-[16px] lg:text-[16px] xl:text-[16px] 2xl:text-[16px] "></span><span class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Sao chép</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="hidden relative text-white">
                                    <div class="lazyload-wrapper ">
                                        <img title="Hình ảnh trận đấu sắp diễn ra" src="@match.match.competition.logo" alt="Hình ảnh Hình ảnh trận đấu sắp diễn ra" class="w-[100%] h-auto object-cover" width="961" height="401" loading="lazy" effect="blur">
                                    </div>
                                    <div class="absolute left-0 top-0 h-[100%] w-[100%]">
                                        <div class="mx-auto flex h-[100%] flex-col items-center justify-center gap-4 p-6">
                                            <h2 class="truncate text-[18px] font-bold uppercase lg:text-[18px] xl:text-[24px] 2xl:text-[28px]">@match.match.competition.name_vi</h2><div class="flex">
                                                <div class="flex items-center gap-2">
                                                    <div class="flex w-[120px] flex-col items-center justify-center gap-2 overflow-hidden lg:w-[200px] xl:w-[200px] 2xl:w-[200px]">
                                                        <div class="lazyload-wrapper"><img title="@match.match.home_team.name" src="@match.match.home_team.logo" alt="Hình ảnh @match.match.home_team.name" class="h-[40px] w-[40px] object-contain lg:h-[70px] lg:w-[70px] xl:h-[70px] xl:w-[70px] 2xl:h-[70px] 2xl:w-[70px]" width="100" height="100" loading="lazy" effect="blur"></div>
                                                        <h4 title="@match.match.home_team.name" class="mx-auto w-fit max-w-[120px] items-center truncate text-center text-[14px] lg:max-w-[200px] lg:text-[16px] xl:max-w-[200px] xl:text-[20px] 2xl:max-w-[200px] 2xl:text-[24px]">@match.match.home_team.name</h4>
                                                    </div>
                                                    <div class="flex flex-col items-center">
                                                        <div class="text-center text-[12px] lg:text-[16px] xl:text-[18px] 2xl:text-[22px]">18:00 - 6/6/2024</div>
                                                        <div class="text-[24px] font-bold uppercase lg:text-[38px] xl:text-[48px] 2xl:text-[50px]">vs</div><div class="text-[12px] text-[--yellow] lg:text-[16px] xl:text-[18px] 2xl:text-[22px]">Hiệp 2</div>
                                                    </div>
                                                    <div class="flex w-[120px] flex-col items-center justify-center gap-2 overflow-hidden lg:w-[200px] xl:w-[200px] 2xl:w-[200px]">
                                                        <div class="lazyload-wrapper ">
                                                            <img title="@match.match.away_team.name" src="@match.match.away_team.logo" alt="Hình ảnh @match.match.away_team.name" class="h-[40px] w-[40px] object-contain lg:h-[70px] lg:w-[70px] xl:h-[70px] xl:w-[70px] 2xl:h-[70px] 2xl:w-[70px]" width="100" height="100" loading="lazy" effect="blur">
                                                        </div>
                                                        <h4 title="@match.match.away_team.name" class="mx-auto w-fit max-w-[120px] items-center truncate text-center text-[14px] lg:max-w-[200px] lg:text-[16px] xl:max-w-[200px] xl:text-[20px] 2xl:max-w-[200px] 2xl:text-[24px]">@match.match.away_team.name</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block w-[100%] max-w-[400px]">
                                <div class="w-full flex justify-between gap-3 mb-[8px]">
                                    <div class="w-full text-center bg-red-600 text-white rounded cursor-pointer py-[2px] hover:bg-violet-600 hover:text-white">Trò chuyện</div><div class="w-full text-center bg-white text-black rounded cursor-pointer py-[2px] hover:bg-violet-600 hover:text-white">Trực tiếp</div>
                                </div>
                                <div class="comments_blocks z-[1] flex h-[95%] flex-col justify-between rounded-[5px] bg-white">
                                    <div class="flex flex-row items-center justify-between border-b-[1px] py-2 pl-3 text-xl font-medium">
                                        <div class="text-lg">Trò chuyện</div><div class="flex items-center gap-2 rounded-s-full bg-[--match-2d] p-2"><span class="text-[--white]">@match.match.viewcount</span><span data-feather="eye" class="icon-eye text-[--white]"></span></div>
                                    </div>
                                    <div id="chatContainer" class="flex flex-col justify-self-end overflow-y-auto p-3 h-[300px] sm:h-[300px] md:h-[300px] lg:h-[350px] xl:h-[380px] 2xl:h-[450px]">
                                        <div class="items-center justify-center rounded-lg bg-[#8B5EC50D] px-2 py-2">
                                            <span class="comment_content-message text-balance " style="color: rgb(158, 83, 252); font-size: 12px;">Chào mừng các bạn đến với kênh trực tiếp của Livebongda8 cam kết thiết lập một môi trường phát trực tuyến chuyên nghiệp và thân thiện. Mọi nội dung lạm dụng, thô tục hoặc bạo lực sẽ bị chặn.</span>
                                        </div>
                                    </div>
                                    <div class="comment_editor flex items-center gap-2 px-2 pb-6 pt-2">
                                        <a class="comment-login font-semibold" href="/dang-nhap" previewlistener="true">Vui lòng đăng nhập để có thể bình luận</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                isFirstMatch = false;
            }
        }
    }

    <div class="max-w-[90vw] mx-auto md:container lg:container xl:container 2xl:container mb-6">
        <div class="home-grid">
            <a class="hidden xl:block 2xl:block" href="https://cafethethao.page.link/dynamic">
                <img src="https://cdn.livebongda8.com/livebongda8/_next/static/media/banner_cf.d1d83371.webp" alt="ads" width="200" height="400" class="aspect-[200/400] w-full h-auto" />
            </a>
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-4">
                    <div>
                        <h2 class="text-[18px] uppercase text-[--violet]">Đang diễn ra</h2>
                    </div>
                    <div class="grid-incoming gap-6 max-w-[1200px] mx-auto">
                        @if (jsonData != null)
                        {
                            @foreach (dynamic match in jsonData.result.matchesHot)
                            {
                                <div>
                                    <a class="match-container flex flex-col rounded-[--border-radius-10]  shadow-sm" href="@match.match.pushurl1" data-match-title="Trực tiếp trận đấu @match.match.home_team.name vs @match.match.away_team.name">
                                       <div class="relative">
                                            @if (match.thumbnail != null || match.thumbnail != "")
                                            {
                                                <img title="@match.title" src="@match.thumbnail"
                                                     alt="Hình ảnh trận đấu @match.match.home_team.name vs @match.match.away_team.name" class="aspect-[460/157] h-auto w-[100%] rounded-t-[--border-radius-10] object-cover" width="460" height="157" loading="lazy" />
                                            }else{
                                                <img title="@match.title" src="https://cdn.livebongda8.com/livebongda8/_next/static/media/thumb_livebongda8.f950ef8b.webp"
                                                     alt="Hình ảnh trận đấu @match.match.home_team.name vs @match.match.away_team.name" class="aspect-[460/157] h-auto w-[100%] rounded-t-[--border-radius-10] object-cover" width="460" height="157" loading="lazy" />
                                            }
                                           
                                            <div class="absolute left-1 top-1 flex gap-2 rounded-[10px] bg-black bg-opacity-50 p-[2px] text-white">
                                                <div class="flex items-center gap-1 rounded-[10px] bg-[--match-live] px-2">
                                                    <span data-feather="radio" class="icon-Icon-Live live-flash"></span>
                                                    <span class="hidden text-[12px] lg:flex xl:flex 2xl:flex">Trực tiếp</span>
                                                </div>
                                                <div class="flex items-center gap-1" title="Có @match.match.view_count người đang xem">
                                                    <span data-feather="eye" class="icon-eye"></span>
                                                    <span class="text-[12px]">@match.match.view_count</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-3 p-[6px] lg:p-[16px] xl:p-[16px] 2xl:p-[16px]">
                                            <div class="flex items-center justify-between">
                                                <div class="flex items-center gap-3">
                                                    <div class="relative rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                                        <div class="avatar-animate absolute z-0 h-[22px] w-[22px] animate-ping  rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500"></div>
                                                        <img title="BLV Cafe Thể Thao" src="@match.commentator.photo" alt="Hình ảnh BLV Cafe Thể Thao" class="z-3 relative aspect-square h-[28px] w-[28px] rounded-[50%] border-2 border-[#fff] object-cover" width="40" height="40" loading="lazy" />
                                                    </div>
                                                    <div class="flex items-center gap-1">
                                                        <span class="truncate  text-[12px] font-semibold text-[--violet] lg:text-[14px] xl:text-[14px] 2xl:text-[14px]">@match.commentator.name</span>
                                                        <span data-feather="mic" class="icon-microphone mic-flash text-[--match-live]"></span>
                                                    </div>
                                                </div>
                                                <div class="flex items-center gap-1">
                                                    <span class=" flex text-[--match-live] lg:flex xl:flex 2xl:flex text-[12px]"></span>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-center gap-2">
                                                <div class="flex w-full items-center justify-end gap-1 lg:gap-3 xl:gap-3 2xl:gap-3">
                                                    <h4 class="max-w-[90px] w-full truncate text-right text-[12px] font-semibold lg:max-w-[120px] lg:text-[14px] xl:max-w-[120px] xl:text-[14px] 2xl:max-w-[120px] 2xl:text-[14px] text-black">@match.match.home_team.name</h4>
                                                    <div>
                                                        <img title="@match.match.home_team.name" src="@match.match.home_team.logo" alt="Hình ảnh @match.match.home_team.name" class="lg:h-[30 px] aspect-square h-[24px]  w-[24px] object-contain lg:w-[30px] xl:h-[30px]  xl:w-[30px] 2xl:h-[30px]  2xl:w-[30px]" width="40" height="40" loading="lazy" />
                                                    </div>
                                                </div>
                                                <div class="bg-gradient-to-r from-pink-600 to-purple-500 bg-clip-text text-[14px] font-semibold uppercase text-[transparent] lg:text-[18px] xl:text-[18px] 2xl:text-[18px]">vs</div>
                                                <div class="flex w-full items-center justify-start gap-1 lg:gap-3 xl:gap-3 2xl:gap-3">
                                                    <div>
                                                        <img title="@match.match.away_team.name" src="@match.match.away_team.logo" alt="Hình ảnh @match.match.away_team.name" class="lg:h-[30 px] aspect-square h-[24px]  w-[24px] object-contain lg:w-[30px] xl:h-[30px]  xl:w-[30px] 2xl:h-[30px]  2xl:w-[30px]" width="40" height="40" loading="lazy" />
                                                    </div>
                                                    <h4 class="max-w-[90px] w-full truncate text-left text-[12px] font-semibold lg:max-w-[120px] lg:text-[14px] xl:max-w-[120px] xl:text-[14px] 2xl:max-w-[120px] 2xl:text-[14px] text-black">@match.match.away_team.name</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                            @foreach (dynamic match in jsonData.result.matchesLive)
                            {
                                <div>
                                    <a class="match-container flex flex-col rounded-[--border-radius-10]  shadow-sm" href="@match.match.pushurl1" data-match-title="Trực tiếp trận đấu @match.match.home_team.name vs @match.match.away_team.name">
                                        <div class="relative">
                                            @if (match.thumbnail == null || match.thumbnail == "")
                                            {
                                                <img title="@match.title" src="https://cdn.livebongda8.com/livebongda8/_next/static/media/thumb_livebongda8.f950ef8b.webp"
                                                     alt="Hình ảnh trận đấu @match.match.home_team.name vs @match.match.away_team.name" class="aspect-[460/157] h-auto w-[100%] rounded-t-[--border-radius-10] object-cover" width="460" height="157" loading="lazy" />
                                            }
                                            else
                                            {
                                                <img title="@match.title" src="@match.thumbnail"
                                                     alt="Hình ảnh trận đấu @match.match.home_team.name vs @match.match.away_team.name" class="aspect-[460/157] h-auto w-[100%] rounded-t-[--border-radius-10] object-cover" width="460" height="157" loading="lazy" />
                                            }

                                            <div class="absolute left-1 top-1 flex gap-2 rounded-[10px] bg-black bg-opacity-50 p-[2px] text-white">
                                                <div class="flex items-center gap-1 rounded-[10px] bg-[--match-live] px-2">
                                                    <span data-feather="radio" class="icon-Icon-Live live-flash"></span>
                                                    <span class="hidden text-[12px] lg:flex xl:flex 2xl:flex">Trực tiếp</span>
                                                </div>
                                                <div class="flex items-center gap-1" title="Có @match.match.view_count người đang xem">
                                                    <span data-feather="eye" class="icon-eye"></span>
                                                    <span class="text-[12px]">@match.match.view_count</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col gap-3 p-[6px] lg:p-[16px] xl:p-[16px] 2xl:p-[16px]">
                                            <div class="flex items-center justify-between">
                                                <div class="flex items-center gap-3">
                                                    <div class="relative rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                                        <div class="avatar-animate absolute z-0 h-[22px] w-[22px] animate-ping  rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500"></div>
                                                        <img title="BLV Cafe Thể Thao" src="@match.commentator.photo" alt="Hình ảnh BLV Cafe Thể Thao" class="z-3 relative aspect-square h-[28px] w-[28px] rounded-[50%] border-2 border-[#fff] object-cover" width="40" height="40" loading="lazy" />
                                                    </div>
                                                    <div class="flex items-center gap-1">
                                                        <span class="truncate  text-[12px] font-semibold text-[--violet] lg:text-[14px] xl:text-[14px] 2xl:text-[14px]">@match.commentator.name</span>
                                                        <span data-feather="mic" class="icon-microphone mic-flash text-[--match-live]"></span>
                                                    </div>
                                                </div>
                                                <div class="flex items-center gap-1">
                                                    <span class=" flex text-[--match-live] lg:flex xl:flex 2xl:flex text-[12px]"></span>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-center gap-2">
                                                <div class="flex w-full items-center justify-end gap-1 lg:gap-3 xl:gap-3 2xl:gap-3">
                                                    <h4 class="max-w-[90px] w-full truncate text-right text-[12px] font-semibold lg:max-w-[120px] lg:text-[14px] xl:max-w-[120px] xl:text-[14px] 2xl:max-w-[120px] 2xl:text-[14px] text-black">@match.match.home_team.name</h4>
                                                    <div>
                                                        <img title="@match.match.home_team.name" src="@match.match.home_team.logo" alt="Hình ảnh @match.match.home_team.name" class="lg:h-[30 px] aspect-square h-[24px]  w-[24px] object-contain lg:w-[30px] xl:h-[30px]  xl:w-[30px] 2xl:h-[30px]  2xl:w-[30px]" width="40" height="40" loading="lazy" />
                                                    </div>
                                                </div>
                                                <div class="bg-gradient-to-r from-pink-600 to-purple-500 bg-clip-text text-[14px] font-semibold uppercase text-[transparent] lg:text-[18px] xl:text-[18px] 2xl:text-[18px]">vs</div>
                                                <div class="flex w-full items-center justify-start gap-1 lg:gap-3 xl:gap-3 2xl:gap-3">
                                                    <div>
                                                        <img title="@match.match.away_team.name" src="@match.match.away_team.logo" alt="Hình ảnh @match.match.away_team.name" class="lg:h-[30 px] aspect-square h-[24px]  w-[24px] object-contain lg:w-[30px] xl:h-[30px]  xl:w-[30px] 2xl:h-[30px]  2xl:w-[30px]" width="40" height="40" loading="lazy" />
                                                    </div>
                                                    <h4 class="max-w-[90px] w-full truncate text-left text-[12px] font-semibold lg:max-w-[120px] lg:text-[14px] xl:max-w-[120px] xl:text-[14px] 2xl:max-w-[120px] 2xl:text-[14px] text-black">@match.match.away_team.name</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                @* <div class="flex flex-col gap-4">
                    <div>
                        <h2 class="text-[18px] uppercase text-[--violet]">Chưa diễn ra</h2>
                    </div>
                    <div class="grid-incoming">
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index0a4b.html?match=32774829">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #25497d 0%, #d38f1d 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">International Friendly</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Slovenia</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Armenia</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                    <div class="flex items-center gap-1 rounded-[10px] bg-[--match-live] px-2 py-[1px] text-white">
                                        <span data-feather="star" class="icon-fire2 fire-flash"></span>
                                        <span class="text-[10px] lg:text-[14px] xl:text-[14px] 2xl:text-[14px]">Nổi Bật</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index2f33.html?match=52173177">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #25497d 0%, #d38f1d 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">International Friendly</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Moldova U19</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Turkey U19</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:30</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="indexc3a6.html?match=3420405">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Hungary (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Switzerland Women</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">15:30</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index7565.html?match=3420465">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Faroe Islands (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Greece (w)</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">15:45</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index91f9.html?match=3420476">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Bulgaria (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Romania (w)</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="indexb326.html?match=3420366">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Finland (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Netherlands Women</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index3151.html?match=50694950">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #2795d3 0%, #174999 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">French Toulon Tournament</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Indonesia U20</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">UkraineU23</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index94e8.html?match=3420396">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Poland (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Germany Women</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="indexcbdc.html?match=3420446">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Georgia (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Cyprus (w)</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index2b0c.html?match=3420483">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Albania (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Luxembourg (w)</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="indexdea5.html?match=3420455">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Moldova (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">North Macedonia Women</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                        <a class="match-container flex flex-col gap-4 rounded-[--border-radius-10] bg-white shadow-sm" href="index3634.html?match=3420415">
                            <div class="flex items-center justify-between rounded-t-[--border-radius-10] p-2 text-white" style="background:linear-gradient(90deg, #432966 0%, #00c7e8 100%)">
                                <div class="flex items-center gap-1">
                                    <div class="lazyload-wrapper ">
                                        <div class="lazyload-placeholder"></div>
                                    </div>
                                    <h3 class="truncate w-[150px] text-[12px] lg:w-[140px] xl:w-[140px] 2xl:w-[150px]">UEFA European Women &#x27;s Championship</h3>
                                </div>
                                <div class="xs:text-[12px] sm:text-[12px] md:text-[12px]">Thứ Ba, 04/6/2024</div>
                            </div>
                            <div class="flex items-center justify-between p-2">
                                <div class="item-border flex flex-col items-center">
                                    <div class="rounded-[50%] bg-gradient-to-r from-pink-600 to-purple-500 p-[2px]">
                                        <div class="lazyload-wrapper ">
                                            <div class="lazyload-placeholder"></div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-1" title="BLV Cafe Thể Thao">
                                        <span class="max-w-[70px] truncate font-semibold xs:text-[12px] sm:text-[12px] md:text-[12px] xl:max-w-[80px] 2xl:max-w-[100px]">BLV Cafe Thể Thao</span>
                                        <span data-feather="mic" class="icon-microphone text-[--match-live]"></span>
                                    </div>
                                </div>
                                <div class="item-border flex w-[150px] flex-col justify-between gap-1 lg:w-[130px] xl:w-[130px] 2xl:w-[130px]">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Slovakia (w)</h4>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <div class="lazyload-wrapper ">
                                                <div class="lazyload-placeholder"></div>
                                            </div>
                                        </div>
                                        <h4 class="w-full truncate font-semibold">Serbia (w)</h4>
                                    </div>
                                </div>
                                <div class="flex flex-col items-center ">
                                    <div class="font-semibold text-[--match-live]">16:00</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <button class="mx-auto w-fit rounded-md border border-[--violet] bg-white p-2 font-semibold text-[--violet] hover:bg-[--violet] hover:text-white">Xem thêm</button>
                </div> *@
            </div>
            <a class="hidden xl:block 2xl:block" href="https://aloscoredynamic.page.link/app">
                <img src="https://cdn.livebongda8.com/livebongda8/_next/static/media/banner_alo.25ba5281.webp" alt="ads" width="200" height="400" class="aspect-[200/400] w-full h-auto" />
            </a>
        </div>
    </div>


    <div class="container"><div class="container_seo"><div class="content_seo max-height-250 flex flex-col gap-2 __className_edaf02"><p>Là một tín đồ bóng đá, bạn luôn mong muốn được theo dõi và cổ vũ cho đội bóng yêu thích của mình. Bạn muốn cập nhật tin tức bóng đá nóng hổi và trải nghiệm những trận cầu đỉnh cao một cách trọn vẹn nhất? Vậy thì Livebongda8 chính là trang web lý tưởng cung cấp lịch thi đấu bóng đá trực tuyến dành cho bạn.</p><p>Livebongda8 là nền tảng trực tuyến chuyên cung cấp các trận đấu bóng đá trực tiếp, miễn phí và chất lượng cao. Thêm vào đó là việc cập nhật lịch thi đấu của tất cả các giải bóng đá lớn nhỏ trên thế giới như Ngoại hạng Anh, La Liga, Serie A, Bundesliga, Champions League, World Cup, Euro,... một cách liên tục và nhanh chóng nhất.</p><h2><strong>Ưu điểm nổi bật của Livebongda8</strong></h2><p>Cùng Livebongda8 theo dõi một số ưu điểm nổi bật của<strong>&nbsp;</strong><a href="https://cafethethao.com/?utm_source=BannerA-03&amp;utm_medium=BannerA-03&amp;utm_campaign=BannerA-03"><strong>lịch thi đấu bóng đá tại Cafe Thể Thao</strong></a><strong>:&nbsp;</strong></p><ul><li><strong>Đa dạng giải đấu:</strong> Livebongda8 cập nhật liên tục các giải đấu bóng đá lớn nhỏ trên toàn thế giới, đáp ứng mọi nhu cầu của người hâm mộ.</li><li><strong>Trực tiếp miễn phí:</strong> Tất cả các trận đấu đều được phát sóng trực tiếp miễn phí, không cần đăng ký tài khoản hay thanh toán bất kỳ khoản phí nào.</li><li><strong>Chất lượng cao:</strong> Livebongda8 sử dụng công nghệ truyền dẫn hiện đại, mang đến hình ảnh sắc nét, âm thanh sống động và mượt mà, giúp bạn có trải nghiệm xem bóng đá tuyệt vời nhất.</li><li><strong>Bình luận chuyên nghiệp:</strong> Đội ngũ bình luận viên dày dặn kinh nghiệm và chuyên môn cao sẽ mang đến cho bạn những bình luận chuyên nghiệp, hấp dẫn và đầy đủ thông tin về trận đấu.</li><li><strong>Cập nhật tin tức:</strong> Livebongda8 còn cung cấp tin tức bóng đá nóng hổi, bảng xếp hạng, lịch thi đấu, kết quả thi đấu,... giúp bạn cập nhật mọi thông tin mới nhất về các đội bóng và cầu thủ yêu thích.</li><li><strong>Giao diện thân thiện:</strong> Giao diện website và ứng dụng Livebongda8 được thiết kế đơn giản, dễ sử dụng, giúp bạn dễ dàng tìm kiếm trận đấu yêu thích và theo dõi trực tiếp.</li><li><strong>Hỗ trợ đa nền tảng:</strong> Livebongda8 có thể truy cập trên nhiều thiết bị khác nhau như: máy tính, điện thoại thông minh, máy tính bảng,... giúp bạn có thể xem bóng đá mọi lúc, mọi nơi.</li></ul><p><strong>Đặc biệt:</strong></p><ul><li>Lịch thi đấu Ngoại Hạng Anh: Cập nhật đầy đủ 38 vòng đấu, thời gian sớm nhất và thông tin chi tiết trước trận đấu.</li><li>Lịch thi đấu Champions League: Cung cấp lịch thi đấu từ vòng bảng đến chung kết, bao gồm thời gian, đội hình, phong độ,...</li><li>Lịch thi đấu các giải đấu khác: Serie A, Bundesliga, Ligue 1, La Liga, World Cup, Euro, V-League,...</li><li>Lịch thi đấu các đội bóng: Real Madrid, Liverpool, AC Milan, Man United, Chelsea,...</li><li>Lịch thi đấu bóng đá Việt Nam: Sea Games, AFF Cup, Vòng loại World Cup,...</li></ul><h2><strong>Lý do nên xem lịch thi đấu bóng đá trên Livebongda8&nbsp;</strong></h2><p>Livebongda8 luôn cập nhật&nbsp;<strong>lịch thi đấu bóng đá tại Cafe Thể Thao</strong> nhanh nhất và chính xác nhất, đảm bảo bạn không bỏ lỡ bất kỳ trận đấu nào, cung cấp đầy đủ cho tất cả các giải đấu bóng đá, bao gồm cả các trận giao hữu, vòng loại, play-off, bảng đấu, vòng knock-out, chung kết, siêu cúp, cúp liên đoàn, cúp quốc gia và cúp châu lục.</p></div><div class="btn-read"><label for="seo-1" class="read_more vi"></label><g clip-path="url(#clip0_125_4693)"><path d="M5.80328 6.70355L4.86328 7.64355L8.86328 11.6436L12.8633 7.64355L11.9233 6.70355L8.86328 9.75689L5.80328 6.70355Z" fill="#37003C"></path></g><defs><clipPath id="clip0_125_4693"><rect width="16" height="16" fill="white" transform="matrix(0 -1 1 0 0.863281 16.9766)"></rect></clipPath></defs><g clip-path="url(#clip0_130_6636)"><path d="M11.8681 11.1158L12.8081 10.1758L8.80811 6.17578L4.80811 10.1758L5.74811 11.1158L8.80811 8.06245L11.8681 11.1158Z" fill="#37003C"></path></g><defs><clipPath id="clip0_130_6636"><rect width="16" height="16" fill="white" transform="matrix(0 1 -1 0 16.8081 0.842773)"></rect></clipPath></defs></div></div></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/artplayer/dist/artplayer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/flv.js@latest"></script>
    <script>
    function getFileExtension(url) {
        return url.split('.').pop().split('?')[0];
    }
        let artPlayer;
        var linkHref = '@linkHref';
        var fileExtension = getFileExtension(linkHref);

        document.addEventListener('DOMContentLoaded', function () {
            artPlayer = new Artplayer({
                container: '#video-player',
                url: linkHref,
                type: fileExtension,
                autoSize: true,
                autoMini: true,
                playbackRate: true,
                aspectRatio: true,
                fullscreen: true,
                miniProgressBar: true,
                setting: true,
                customType: {
                    m3u8: function (video, url) {
                        if (Hls.isSupported()) {
                            var hls = new Hls();
                            hls.loadSource(url);
                            hls.attachMedia(video);
                        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                            video.src = url;
                        }
                    },
                    flv: function (video, url) {
                        if (flvjs.isSupported()) {
                            var flvPlayer = flvjs.createPlayer({
                                type: 'flv',
                                url: url
                            });
                            flvPlayer.attachMediaElement(video);
                            flvPlayer.load();
                        }
                    }
                }
            });

            const links = document.querySelectorAll('a.match-container');
            links.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const url = this.getAttribute('href');

                    artPlayer.switchUrl(url + '.flv');

                    updateMatchTitle(this.getAttribute('data-match-title'));
                });
            });
        });

        function updateMatchTitle(title) {
            document.getElementById('match-title').textContent = title;
        }
    </script>